InheritParentConfig: true

# Explaining why some of our options are set:
#
# * Tracking nullable returns requires depending on folly, which we don't do.
#   It is also tedious as we would have to use this excessively due to Python
#   often using null to propagate exceptions.
#
# * std::regex has known issues with stack overflows, but we only use it in
#   tests and we don't do anything crazy with it.  It's more convenient to use
#   it instead of pulling in a third party dependency like RE2.
#
# * Can't replace memcpy() with more secure forms as that requires internal
#   libraries that don't exist externally.
#
# * The JIT converts between pointers and integers frequently, there's no way
#   to avoid this.

Checks: '
-facebook-hte-BoostRegexRisky,
-facebook-hte-GlibcRegexIsAwful,
-facebook-hte-NullableReturn,
-facebook-hte-RE2ImplicitConversion,
-facebook-hte-StdRegexIsAwful,
-facebook-security-vulnerable-memcpy,
-performance-no-int-to-ptr,
modernize-raw-string-literal,
'
