# Disable check for explicitly marking of functions which return 'null'. We
# would have to use this excessively due to Python often using null to propagate
# exceptions.

InheritParentConfig: true

Checks: '
-facebook-hte-NullableReturn,
modernize-raw-string-literal,
'
