name: CinderX

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout CinderX
      uses: actions/checkout@v5

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: 3.14.3

    - name: Set up uv
      uses: astral-sh/setup-uv@v7

    - name: Create venv
      run: uv venv --python 3.14.3

    - name: Build CinderX
      run: uv build --wheel --python 3.14.3

    - name: Install CinderX
      run: uv pip install dist/*.whl

    - name: Check CinderX Imports
      run: |
        uv run python -c 'import cinderx ; print(cinderx.get_import_error()) ; assert cinderx.is_initialized()'

    - name: Install Pytest
      run: |
        uv pip install pytest

    - name: Run Tests
      run: |
        uv run pytest cinderx/PythonLib/test_cinderx/test*.py
