name: CI

on: [push, pull_request]

jobs:
  run_tests:
    name: Run Tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.14.3']

    steps:
    - name: Checkout CinderX
      uses: actions/checkout@v6

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    - name: Set up uv
      uses: astral-sh/setup-uv@v7

    - name: Create venv
      run: uv venv --python ${{ matrix.python-version }}

    - name: Build CinderX
      run: uv build --wheel --python ${{ matrix.python-version }}

    - name: Install CinderX
      run: uv pip install dist/*.whl

    - name: Check CinderX loads successfully
      run: |
        uv run python -c 'import cinderx ; print(cinderx.get_import_error()) ; assert cinderx.is_initialized()'

    - name: Install Pytest
      run: uv pip install pytest

    - name: Run Tests
      run: uv run pytest cinderx/PythonLib/test_cinderx/test*.py

  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v6

      # cibuildwheel uses a docker container so the Python version is irrelevant
      # here.
      - uses: actions/setup-python@v6

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel

      - name: Build wheels
        run: python -m cibuildwheel --output-dir wheelhouse

  build_sdist:
    name: Build source distribution
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.14.3']

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install build tools
        run: python -m pip install build

      - name: Build sdist
        run: python -m build --sdist
